asgiref==3.8.1
certifi==2025.4.26
cffi==2.0.0
charset-normalizer==3.4.2
cloudinary==1.44.0
cryptography==46.0.5
dj-database-url==2.3.0
Django==5.1.7
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
idna==3.10
MarkupSafe==3.0.3
packaging==25.0
pillow==11.1.0
psycopg2-binary==2.9.10
pycparser==3.0
PyJWT==2.9.0
python-dotenv==1.1.0
python-http-client==3.3.7
requests==2.32.3
sendgrid==6.12.5
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==3.1.5
whitenoise==6.9.0
